body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #333;
}

/* Style for the large image */
/*  */


nav {
  background-color: #205278;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  margin: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  color: #333;
  text-align: left;
}

button, input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover, input[type="submit"]:hover {
  background-color: #45a049;
}

form {
  margin-top: 20px;
}

input[type="text"], input[type="date"] {
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

.calendar-container {
  margin-top: 20px;
}
/* Style for the home page container */
.home-page {
  position: relative;
  height: 100vh;
  background-image: url('/public/images/background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.home-page h1 {
  position: absolute;
  font-size: 4rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: darkslategray;
}